.dialogo_tirada_D6{
  width: 384px;
  height: 200px;
}

.dialogo_tirada_D6_num {
  background-color: transparent;
  position: absolute;
  top: 4.2em;
  text-align: center;
  z-index: 6;
  left: 13.6em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.2em;
}
.dialogo_tirada_D6_num input{
  text-align: center;
  font-family: "Airstrip";
  color: Black !important;
  border: none;
  background-color: transparent;
  font-size: 1.3em;
}

.dialogo_tirada_D6_mod {
  background-color: transparent;
  position: absolute;
  top: 7em;
  text-align: center;
  z-index: 6;
  left: 13.6em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.2em;
}
.dialogo_tirada_D6_mod input{
  text-align: center;
  font-family: "Airstrip";
  color: Black !important;
  border: none;
  background-color: transparent;
  font-size: 1.3em;
}

.dialogo_tirada_D6_explota {
  background-color: transparent;
  position: absolute;
  top: 9.1em;
  text-align: center;
  border:none;
  z-index: 6;
  left: 12.7em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.dialogo_tirada_D6_explota select{
  text-align: center;
  background-color: transparent;
  font-family: "Airstrip";
  color: Black !important;
  border: none;
}
