.dialogo_tirada_D10{
  width: 384px;
  height: 200px;
}

.dialogo_tirada_D10_num {
  background-color: transparent;
  position: absolute;
  top: 3em;
  text-align: center;
  z-index: 6;
  left: 7.6em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.2em;
}
.dialogo_tirada_D10_num input{
  text-align: center;
  font-family: "Airstrip";
  color: Black !important;
  border: none;
  background-color: transparent;
  font-size: 1.3em;
}

.dialogo_tirada_D10_mod {
  background-color: transparent;
  position: absolute;
  top: 6.7em;
  text-align: center;
  z-index: 6;
  left: 7.6em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.2em;
}
.dialogo_tirada_D10_mod input{
  text-align: center;
  font-family: "Airstrip";
  color: Black !important;
  border: none;
  background-color: transparent;
  font-size: 1.3em;
}

.dialogo_tirada_D10_mod2 {
  background-color: transparent;
  position: absolute;
  top: 5.7em;
  text-align: center;
  z-index: 6;
  left: 19.6em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.2em;
}
.dialogo_tirada_D10_mod2 input{
  text-align: center;
  font-family: "Airstrip";
  color: Black !important;
  border: none;
  background-color: transparent;
  font-size: 1.3em;
}


.dialogo_tirada_D10_explota {
  background-color: transparent;
  position: absolute;
  top: 9.5em;
  text-align: center;
  border:none;
  z-index: 6;
  left: 6.7em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.dialogo_tirada_D10_explota select{
  text-align: center;
  background-color: transparent;
  font-family: "Airstrip";
  color: Black !important;
  border: none;
}

.chat_tirada_d10 {
  top: -12.3em;
  left: 5em;
  position: relative;
  width: 9em;
  height: 9em;
  text-align: center;
  z-index: 0;
}

.chat_tirada_d10 img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.chat_tirada_D10_total {
  background-color: transparent;
  position: relative;
  top: -5.4em;
  left: 1.7em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 3.5em;
}

.dialogo_tirada_D10_forzar {
  background-color: transparent;
  position: absolute;
  top: 9.5em;
  text-align: center;
  border:none;
  z-index: 6;
  left: 13.7em;
  width: 5.6em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.dialogo_tirada_D10_forzar select{
  text-align: center;
  background-color: transparent;
  font-family: "Airstrip";
  color: Black !important;
  border: none;
}
