<form class="{{cssClass}} dialogo_tirada_D6" autocomplete="off">
  <img class="content-background" src="/systems/RyF/assets/dialogs/dialogo_tirada_D6.svg" alt="?"/>
  <div class="contenido_dialogo_tirada_D6">
    <div class="dialogo_tirada_D6_num"><input id="numD6" value="1" size=2  data-dtype="Number"></div>
    <div class="dialogo_tirada_D6_mod"><input id="mod" value="0" size=2  data-dtype="Number"></div>
    <div>
      <select  class="dialogo_tirada_D6_explota" name="explota" id="explota" data-dtype="Text">
        <option value="Si" selected>Si</option>
        <option value="No">No</option>
      </select>
    </div>
  </div>
</form>
