<form class="{{cssClass}} dialogo_tirada_habilidad" autocomplete="off">
  <img class="content-background" src="/systems/RyF/assets/dialogs/dialogo_tirada_habilidad.svg" alt="?"/>
  <div class="contenido_dialogo_tirada_habilidad">
      <div class="dialogo_tirada_habilidad_nombre"><label>{{nom_habilidad}}</label></div>
      <div class="dialogo_tirada_habilidad_valor"><label>{{val_habilidad}}</label></div>
      <div class="dialogo_tirada_habilidad_atributo_nombre"><label>{{nom_atributo}}</label></div>
      <div class="dialogo_tirada_habilidad_atributo_valor"><label>{{val_atributo}}</label></div>
       <div class="dialogo_tirada_habilidad_mod"><input id="bonos" value="0" size=2  data-dtype="Number"></div>
       <select  class="dialogo_tirada_habilidad_dif" name="dificultad" id="dificultad" data-dtype="Number">
         <option value="10">(10) Fácil</option>
         <option value="15" selected>(15) Normal</option>
         <option value="18">(18) Moderada</option>
         <option value="20">(20) Difícil</option>
         <option value="25">(25) Muy Difícil</option>
         <option value="30">(30) Casi Imposible</option>
       </select>
</div>
<div>
    {{#if (eq tipo_dado "mayor")}}
      <img class="PJ_tirada_habilidad_D10 tipoDado" src="/systems/RyF/assets/dialogs/d10_Mayor.svg" alt="?"/>
    {{/if}}
    {{#if (eq tipo_dado "objetivo")}}
      <img class="PJ_tirada_habilidad_D10 tipoDado" src="/systems/RyF/assets/dialogs/d10_objetivo.svg" alt="?"/>
      {{/if}}
    {{#if (eq tipo_dado "menor")}}
      <img class="PJ_tirada_habilidad_D10 tipoDado" src="/systems/RyF/assets/dialogs/d10_menor.svg" alt="?"/>
    {{/if}}
</div>
<div>
  <select  class="dialogo_tirada_habilidad_forzar" name="forzar" id="forzar" data-dtype="Text">
    <option value="" selected></option>
    <option value="mayor">Mayor</option>
    <option value="menor">Menor</option>
    <option value="objetivo">Objetivo</option>
  </select>
</div>
</form>
