<form class="{{cssClass}} dialogo_tirada_atributo" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/chat/dialogo_tirada_atributo.svg" alt="?"/>
  <div class="chat_tirada_atributo_label1"><label>{{nom_habilidad}}</label></div>
  <div class="chat_tirada_atributo_label2"><label> 1o3d10 + {{val_habilidad}} + {{val_atributo}} + {{bonos}}</label></div>
  <div>
    {{#if (eq tipo_dado "mayor")}}
      <img class="chat_tirada_atributo_imagen_dados" src="/systems/ryf/assets/chat/d10_Mayor.svg" alt="?"/>
    {{/if}}
    {{#if (eq tipo_dado "objetivo")}}
      <img class="chat_tirada_atributo_imagen_dados" src="/systems/ryf/assets/chat/d10_objetivo.svg" alt="?"/>
    {{/if}}
    {{#if (eq tipo_dado "menor")}}
      <img class="chat_tirada_atributo_imagen_dados" src="/systems/ryf/assets/chat/d10_menor.svg" alt="?"/>
    {{/if}}
  </div>
  <div class="chat_tirada_atributo_menor"><label>{{dado_menor}}</label></div>
  <div class="chat_tirada_atributo_medio"><label>{{dado_medio}}</label></div>
  <div class="chat_tirada_atributo_mayor"><label>{{dado_mayor}}</label></div>
  <div class="chat_tirada_dificultad"><label>{{total}} VS {{dificultad}}</label></div>
  <div class="chat_tirada_resultado dañoDesdeChat" data-exito="{{exito}}" data-objetivo="{{objetivo_id}}" data-daño="{{daño}}" data-efecto="{{efecto}}" data-bonos="{{bonos}}" data-absorcion_armadura="{{absorcion_armadura}}" data-arma="{{nom_habilidad}}"><label>{{resultado}}</label></div>
</form>
