<form class="{{cssClass}} dialogo_tirada_atributo" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/chat/dialogo_tirada_atributo.svg" alt="?"/>
  <div class="chat_tirada_daño_label1"><label>Daño {{nom_habilidad}}</label></div>
  <div class="chat_tirada_daño_label2"><label> {{tirada}}</label></div>
  <div>
      <img class="chat_tirada_daño_imagen_dados" src="/systems/ryf/assets/chat/d6.svg" alt="?"/>
  </div>
  <div class="chat_tirada_daño_total"><label>{{total}}</label></div>
  <div class="chat_tirada_daño_explicacion"><label>{{resultado}} - {{armadura}}</label></div>
  {{#if (eq causa_daño true)}}
    <div class="chat_tirada_aplicar_daño aplicaDanoDesdeChat" data-daño="{{total}}" data-objetivo="{{objetivo}}"><label>Aplicar Daño</label></div>
  {{/if}}
</form>
