<form class="{{cssClass}} dialogo_tirada_atributo" autocomplete="off">
  <div class=""><label>{{nom_habilidad}}</label></div>
  <div class=""><label> 1o3d10 + {{val_habilidad}} + {{val_atributo}} + {{bonos}}</label></div>
  <div class=""><label>{{dado_menor}}</label></div>
  <div class=""><label>{{dado_medio}}</label></div>
  <div class=""><label>{{dado_mayor}}</label></div>
  <div class=""><label>{{total}} VS {{dificultad}}</label></div>
  <div class="danoDesdeChat" data-exito="{{exito}}" data-objetivo="{{objetivo_id}}" data-dano="{{dano}}" data-efecto="{{efecto}}" data-bonos="{{bonos}}" data-absorcion_armadura="{{absorcion_armadura}}" data-arma="{{nom_habilidad}}">
    <div><label>{{resultado}} {{#if (eq exito true)}}, Tira dano{{/if}}</label></div>
  </div>
</form>
