<form class="{{cssClass}} dialogo_tirada_D10" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/dialogs/dialogo_tirada_D10.svg" alt="?"/>
  <div class="contenido_dialogo_tirada_D10">
    <div class="dialogo_tirada_D10_num"><input id="numD10" value="1" size=2  data-dtype="Number"></div>
    <div class="dialogo_tirada_D10_mod"><input id="mod" value="0" size=2  data-dtype="Number"></div>
    <div>
      <select  class="dialogo_tirada_D10_explota" name="explota" id="explota" data-dtype="Text">
        <option value="Si" selected>Si</option>
        <option value="No">No</option>
      </select>
    </div>
    <div class="dialogo_tirada_D10_mod2"><input id="mod2" value="0" size=2  data-dtype="Number"></div>
    <div>
      <select  class="dialogo_tirada_D10_forzar" name="forzar" id="forzar" data-dtype="Text">
        <option value="" selected></option>
        <option value="mayor">Mayor</option>
        <option value="menor">Menor</option>
        <option value="objetivo">Objetivo</option>
      </select>
    </div>
  </div>
</form>
