<form class="{{cssClass}} flexcol" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/ficha/PJ-Bg.svg" alt="?"/>
  <div class="content-container">
    <div class="character-info">
      <div class="PJ-nombre"><input name="name" type="text" value="{{name}}" placeholder='Nombre'
                                         onClick="this.select();"/></div>
      <div class="PJ-foto">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
      </div>
      <div>
        <img class="PJ_D10 D10Roll" src="/systems/ryf/assets/ficha/d10.svg" alt="?"/>
        <img class="PJ_D6 D6Roll" src="/systems/ryf/assets/ficha/d6.svg" alt="?"/>
      </div>

      <div class="PJ_Experiencia">
        <input type="text" name="system.Experiencia" value="{{system.Experiencia}}" data-dtype="Number" maxlength="3"/>
      </div>
      <div class="label_PJ_Físico tiradaAtributo" data-atributo="Físico" data-valor="{{system.Físico}}" data-vida="{{system.Puntos_de_Vida.value}}" data-fisico="{{system.Físico}}"><label>Físico<label></div>
      <div class="PJ_Físico">
        <input type="text" name="system.Físico" value="{{system.Físico}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="label_PJ_Destreza tiradaAtributo" data-atributo="Destreza" data-valor="{{system.Destreza}}" data-vida="{{system.Puntos_de_Vida.value}}" data-fisico="{{system.Físico}}"><label>Destreza<label></div>
      <div class="PJ_Destreza">
        <input type="text" name="system.Destreza" value="{{system.Destreza}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="label_PJ_Inteligencia tiradaAtributo" data-atributo="Inteligencia" data-valor="{{system.Inteligencia}}" data-vida="{{system.Puntos_de_Vida.value}}" data-fisico="{{system.Físico}}"><label>Inteligencia<label></div>
      <div class="PJ_Inteligencia">
        <input type="text" name="system.Inteligencia" value="{{system.Inteligencia}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="label_PJ_Percepción tiradaAtributo" data-atributo="Percepción" data-valor="{{system.Percepción}}" data-vida="{{system.Puntos_de_Vida.value}}" data-fisico="{{system.Físico}}"><label>Percepción<label></div>
      <div class="PJ_Percepción">
        <input type="text" name="system.Percepción" value="{{system.Percepción}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="PJ_Iniciativa"><label>{{system.Iniciativa}}</label></div>
      <div class="PJ_Estorbo"><label>{{system.Estorbo_Total}}</label></div>
      <div class="PJ_Defensa"><label>{{system.Defensa.Base}}</label></div>
      <div class="PJ_Escudo_CaC"><label>{{system.Defensa.Escudo_CAC}}</label></div>
      <div class="PJ_Escudo_Dist"><label>{{system.Defensa.Escudo_Dist}}</label></div>
      <div class="PJ_Absorcion"><label>{{system.Absorcion_Total}}</label></div>
      <div class="label_PJ_Vida restauraVida"><label>Vida</label></div>
      <div class="PJ_PV_Actuales">
        <input type="text" name="system.Puntos_de_Vida.value" value="{{system.Puntos_de_Vida.value}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="PJ_PV_Totales"><label>{{system.Puntos_de_Vida.max}}</label></div>
      <div class="label_PJ_Mana restauraMana"><label>Maná</label></div>
      <div class="PJ_PM_Actuales">
        <input type="text" name="system.Puntos_de_Mana.value" value="{{system.Puntos_de_Mana.value}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="PJ_PM_Totales"><label>{{system.Puntos_de_Mana.max}}</label></div>


    </div>
{{!-- Sheet Body --}}
<div class="character-tabs-info sheet-body">

  {{!-- Sheet Tab Navigation --}}
  <div class="character-tabs RyF_charsheet_tab">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item habilidades-tab" data-tab="habilidades">Habilidades</a>
      <a class="item inventario-tab" data-tab="inventario">Inventario</a>
      <a class="item talentos-tab" data-tab="talentos">Talentos/Magia</a>
      <a class="item biografia-tab" data-tab="biografia">Biografía</a>
    </nav>
  </div>

  {{!-- Habilidades Tab --}}
  <div class="tab Jugador_habilidades" data-group="primary" data-tab="habilidades">
    {{> "/systems/ryf/templates/actors/Jugador_partes/Jugador_habilidades.html"}}
  </div>

  {{!-- Inventario Tab --}}
  <div class="tab Jugador_inventario" data-group="primary" data-tab="inventario">
    {{> "/systems/ryf/templates/actors/Jugador_partes/Jugador_inventario.html"}}
  </div>

  {{!-- Talentos Tab --}}
  <div class="tab Jugador_talentos" data-group="primary" data-tab="talentos">
    {{> "/systems/ryf/templates/actors/Jugador_partes/Jugador_talentos.html"}}
  </div>

  {{!-- Bio Tab --}}
  <div class="tab Jugador_biografia" data-group="primary" data-tab="biografia">
    {{> "/systems/ryf/templates/actors/Jugador_partes/Jugador_biografia.html"}}
  </div>
</div>
</div>
</form>
