<form class="{{cssClass}}" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/ficha/simplePNJ-Bg.svg" alt="?"/>
  <div class="PNJ-content-container">
    <div class="PNJ-character-info">
      <div class="PNJ-nombre"><input name="name" type="text" value="{{name}}" placeholder='Nombre' onClick="this.select();"/></div>
      <div class="PNJ-foto">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
      </div>
      <div class="label_PNJ_Ataque tiradaAtaquePNJ" data-arma="{{name}}" data-habilidad="{{system.Ataque}}" data-daño="{{system.Daño}}"><label>Ataque</label></div>
      <div class="PNJ_Ataque">
        <input type="text" name="system.Ataque" value="{{system.Ataque}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="PNJ_Defensa">
        <input type="text" name="system.Defensa.Base" value="{{system.Defensa.Base}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="PNJ_Iniciativa">
        <input type="text" name="system.Iniciativa" value="{{system.Iniciativa}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="PNJ_Absorcion_Total">
        <input type="text" name="system.Absorcion_Total" value="{{system.Absorcion_Total}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="label_PNJ_Daño tiradaDañoPNJ"><label>Daño</label></div>
      <div class="PNJ_Daño">
        <input type="text" name="system.Daño" value="{{system.Daño}}" data-dtype="Text"/>
      </div>
      <div class="label_PNJ_PV restauraVidaPNJ"><label>Puntos de Vida</label></div>
      <div class="PNJ_PV_Actuales">
        <input type="text" name="system.Puntos_de_Vida.value" value="{{system.Puntos_de_Vida.value}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="PNJ_PV_Totales">
        <input type="text" name="system.Puntos_de_Vida.max" value="{{system.Puntos_de_Vida.max}}" data-dtype="Number" maxlength="2"/>
      </div>
      <div class="PNJ_contenedor_biografia">
        {{editor system.Descripcion target="system.Descripcion" button=true editable=true}}
      </div>
    </div>
  </div>
</form>
