<form class="{{cssClass}} flexcol" autocomplete="off">
  <header>
    <div class="sheet-header">
      <div class="header-fields">
        <div class="flexrow">
            <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
            <h1><input name="name" type="text" value="{{name}}" placeholder="Nombre"/></h1>
        </div>
        <div class="flexrow">
        <div class="flexcol">
          <div class="flexrow">
            <div class="tiradaAtaquePNJ" data-arma="{{name}}" data-habilidad="{{system.derivadas.ataque}}" data-danoDados="{{system.dano.numeroDados}}" data-danoBonificador="{{system.dano.bonificador}}"><label>Ataque</label></div>
            <input type="text" name="system.derivadas.ataque" value="{{system.derivadas.ataque}}" data-dtype="Number" maxlength="2"/>
          </div>
          <div class="flexrow">
            <label>Defensa</label>
            <input type="text" name="system.derivadas.defensa.base" value="{{system.derivadas.defensa.base}}" data-dtype="Number" maxlength="2"/>
          </div>
          <div class="flexrow">
            <label>Absorción</label>
            <input type="text" name="system.derivadas.absorcion" value="{{system.derivadas.absorcion}}" data-dtype="Number" maxlength="2"/>
          </div>
        </div>
        <div class="flexcol">
          <div class="flexrow">
            <label class="tiradaDanoPNJ">Daño</label>
            <input type="text" name="system.dano.numeroDados" value="{{system.dano.numeroDados}}" data-dtype="Number"/>D6+<input type="text" name="system.dano.bonificador" value="{{system.dano.bonificador}}" data-dtype="Number"/>
          </div>
          <div class="flexrow">
            <label>Iniciativa</label>
            <input type="text" name="system.derivadas.iniciativa" value="{{system.derivadas.iniciativa}}" data-dtype="Number" maxlength="2"/>
          </div>
          <div class="flexrow">
            <label class="restauraVidaPNJ">Puntos de Vida</label>
            <input type="text" name="system.derivadas.puntosVida.value" value="{{system.derivadas.puntosVida.value}}" data-dtype="Number" maxlength="2"/> / <input type="text" name="system.derivadas.puntosVida.max" value="{{system.derivadas.puntosVida.max}}" data-dtype="Number" maxlength="2"/>
          </div>
        </div>
      </div>
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <div class="PNJ_contenedor_biografia">
      {{editor system.descripcion target="system.descripcion" button=true editable=true}}
    </div>
  </section>
</form>
