  <div>
    <table>
      <tr>
        <th style="width:10%"></th>
        <th style="width:40%; align:center"><label>TALENTO</label></th>
        <th class="align_right width:10%"><a class="item-control item-create" data-type="talento"><i class="fas fa-plus"></i></a></th>
      </tr>
      {{#each Talentos as |item id|}}
        <tr class="item" data-item-id="{{item._id}}">
          <td><img src="{{item.img}}" width="24" height="24"/></td>
          <td><div style="width:20em"><label>{{item.nombre}}</label></div></td>
          <td>
            <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
            <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
          </td>
        </tr>
      {{/each}}
    </table>
    <table>
      <tr>
        <th style="width:10%"></th>
        <th style="width:40%; align:center"><label>HECHIZO</label></th>
        <th style="width:20%; align:center"><label>ALCANCE</label></th>
        <th style="width:10%; align:center"><label>DIF</label></th>
        <th style="width:10%; align:center"><label>MANA</label></th>
        <th class="align_right width:10%"><a class="item-control item-create" data-type="hechizo"><i class="fas fa-plus"></i></a></th>
      </tr>
      {{#each Hechizos as |item id|}}
        <tr class="item" data-item-id="{{item._id}}">
          <td><img src="{{item.img}}" width="24" height="24"/></td>
          <td class="tiradaHechizo" data-hechizo="{{item.nombre}}" data-nivel="{{item.system.Nivel}}" data-dificultad="{{item.system.dificultad}}" data-mana="{{item.system.mana}}" data-alcance="{{item.system.alcance}}"><div style="width:7em"><label>({{item.system.nivel}}) {{item.nombre}}</label></div></td>
          <td style="text-align:center"><label>{{item.system.Alcance}}</label></td>
          <td style="text-align:center"><label>{{item.system.Dificultad}}</label></td>
          <td style="text-align:center"><label>{{item.system.Mana}}</label></td>
          <td>
            <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
            <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>