.content-container {
  display: grid;
  grid-template-columns: 20em 31em;
  gap: 1px 1px;
  position: absolute;
  top: 2em;
  left: 2em;
}

.character-info {
  left: 5px;
  top: 19px;
  width: 19em;
  position: absolute;
}

img {
  border: none !important;
  max-width: 100%;
}
.PJ-foto {
  top: 6.8em;
  left: 4.7em;
  position: absolute;
  width: 12em;
  height: 12em;
  text-align: center;
  z-index: 0;
}

.PJ-foto img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.PJ_D10 {
  top: 11.1em;
  left: -0.5em;
  position: absolute;
  width: 4.5em;
  height: 4.5em;
  text-align: center;
  z-index: 0;
}

.PJ_D10 img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.PJ_D6 {
  top: 16em;
  left: 0em;
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  z-index: 0;
}

.PJ_D6 img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.PJ-nombre {
  position: absolute;
  top: 3.2em;
  text-align: center;
  z-index: 6;
  left: 0em;
  width: 17.5em;
  font-family: "Airstrip";
}

.PJ-nombre input[type='text'] {
  background-color: transparent;
  font-family: inherit;
  width: 13.6em;
  font-size: 1.2em;
  text-align: center;
  color: Black !important;
  border: none;
}

.PJ_Experiencia {
  background-color: transparent;
  position: absolute;
  top: 6.7em;
  left: 0.3em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PJ_Experiencia input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PJ_Físico {
  background-color: transparent;
  position: absolute;
  top: 15.8em;
  left: 11em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PJ_Físico input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PJ_Destreza {
  background-color: transparent;
  position: absolute;
  top: 17.8em;
  left: 11em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PJ_Destreza input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PJ_Inteligencia {
  background-color: transparent;
  position: absolute;
  top: 19.9em;
  left: 11em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PJ_Inteligencia input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PJ_Percepción {
  background-color: transparent;
  position: absolute;
  top: 21.8em;
  left: 11em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PJ_Percepción input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PJ_Iniciativa {
  background-color: transparent;
  position: absolute;
  top: 25.4em;
  left: 4.7em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}

.PJ_Estorbo {
  background-color: transparent;
  position: absolute;
  top: 25.4em;
  left: 11.5em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}

.PJ_Defensa {
  background-color: transparent;
  position: absolute;
  top: 27.4em;
  left: 4.6em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}

.PJ_Escudo_CaC {
  background-color: transparent;
  position: absolute;
  top: 27.4em;
  left: 7.9em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}

.PJ_Escudo_Dist {
  background-color: transparent;
  position: absolute;
  top: 27.4em;
  left: 11.3em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}

.PJ_Absorción {
  background-color: transparent;
  position: absolute;
  top: 31em;
  left: 11.2em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}

.PJ_PV_Actuales {
  background-color: transparent;
  position: absolute;
  top: 29.2em;
  left: 4.7em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PJ_PV_Actuales input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PJ_PV_Totales {
  background-color: transparent;
  position: absolute;
  top: 29.3em;
  left: 8.1em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}

.PJ_PM_Actuales {
  background-color: transparent;
  position: absolute;
  top: 31.1em;
  left: 4.7em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PJ_PM_Actuales input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PJ_PM_Totales {
  background-color: transparent;
  position: absolute;
  top: 31.2em;
  left: 8.1em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}

.RyF_charsheet_tab{
  top: 0em;
  left: 0em;
  width: 34em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
  text-align: center;
  position: absolute;
}

.sheet nav.sheet-tabs {
    height: 44px;
    flex: 0 0 32px;
    margin: 6px 0;
    line-height: 32px;
    border-top: 0px solid #b5b3a4;
    border-bottom: 0px solid #b5b3a4;
}

.habilidades-tab, .inventario-tab, .talentos-tab, .biografia-tab {
  background-image: url(/systems/ryf/assets/ficha/Tabs.svg);
  background-position-x: -2px;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  background-color: unset !important;
}

a.habilidades-tab:hover, .inventario-tab:hover, .talentos-tab:hover, .biografia-tab:hover {
  background-image: url(/systems/ryf/assets/ficha/Tabs-Hover.svg);
  color: LightGrey;
}

a.habilidades-tab.active, .inventario-tab.active, .talentos-tab.active, .biografia-tab.active {
  background-image: url(/systems/ryf/assets/ficha/Tabs-Active.svg);
  color: LightGrey;
  text-shadow: none !important;
}

.character-tabs-info {
  background: transparent !important;
}


.label_PJ_Físico {
  background-color: transparent;
  position: absolute;
  top: 13.8em;
  left: 1.2em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}

.label_PJ_Destreza {
  background-color: transparent;
  position: absolute;
  top: 15.4em;
  left: 1.2em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}

.label_PJ_Inteligencia {
  background-color: transparent;
  position: absolute;
  top: 17.2em;
  left: 1.2em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}

.label_PJ_Percepción {
  background-color: transparent;
  position: absolute;
  top: 19em;
  left: 1.2em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}

.label_PJ_Vida {
  background-color: transparent;
  position: absolute;
  top: 25.3em;
  left: 0.7em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}

.label_PJ_Mana {
  background-color: transparent;
  position: absolute;
  top: 27em;
  left: 1em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}
