.content-container {
  display: grid;
  grid-template-columns: 20em 31em;
  gap: 1px 1px;
  position: absolute;
  top: 2em;
  left: 2em;
}

.character-info {
  left: 5px;
  top: 19px;
  width: 19em;
  position: absolute;
}

img {
  border: none !important;
  max-width: 100%;
}
.PJ-foto {
  top: 6.8em;
  left: 4.7em;
  position: absolute;
  width: 12em;
  height: 12em;
  text-align: center;
  z-index: 0;
}

.PJ-foto img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}


.RyF_charsheet_tab{
  top: 0em;
  left: 0em;
  width: 34em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
  text-align: center;
  position: absolute;
}

.sheet nav.sheet-tabs {
    height: 44px;
    flex: 0 0 32px;
    margin: 6px 0;
    line-height: 32px;
    border-top: 0px solid #b5b3a4;
    border-bottom: 0px solid #b5b3a4;
}

.habilidades-tab, .inventario-tab, .talentos-tab, .biografia-tab {
  background-image: url(/systems/ryf/assets/ficha/Tabs.webp);
  background-position-x: -2px;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  background-color: unset !important;
}

a.habilidades-tab:hover, .inventario-tab:hover, .talentos-tab:hover, .biografia-tab:hover {
  background-image: url(/systems/ryf/assets/ficha/Tabs-Hover.webp);
  color: LightGrey;
}

a.habilidades-tab.active, .inventario-tab.active, .talentos-tab.active, .biografia-tab.active {
  background-image: url(/systems/ryf/assets/ficha/Tabs-Active.webp);
  color: LightGrey;
  text-shadow: none !important;
}

.character-tabs-info {
  background: transparent !important;
}