.PNJ-content-container {
  display: grid;
  grid-template-columns: 20em 31em;
  gap: 1px 1px;
  position: absolute;
  top: 2em;
  left: 2em;
}

.PNJ-character-info {
  left: 5px;
  top: 19px;
  width: 19em;
  position: absolute;
}

.PNJ-foto {
  top: 0em;
  left: -0.7em;
  position: absolute;
  width: 6em;
  height: 6em;
  text-align: center;
  z-index: 0;
}

.PNJ-foto img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.PNJ-nombre {
  position: absolute;
  top: -0.2em;
  text-align: center;
  z-index: 6;
  left: 6em;
  width: 25.5em;
  font-family: "Airstrip";
}

.PNJ-nombre input[type='text'] {
  background-color: transparent;
  font-family: inherit;
  width: 20.6em;
  font-size: 1.2em;
  text-align: center;
  color: Black !important;
  border: none;
}

.PNJ_Ataque {
  background-color: transparent;
  position: absolute;
  top: 1.7em;
  left: 11.3em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PNJ_Ataque input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PNJ_Defensa {
  background-color: transparent;
  position: absolute;
  top: 1.7em;
  left: 21em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PNJ_Defensa input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PNJ_Iniciativa {
  background-color: transparent;
  position: absolute;
  top: 3.7em;
  left: 11.3em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PNJ_Iniciativa input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PNJ_Absorcion_Total {
  background-color: transparent;
  position: absolute;
  top: 3.7em;
  left: 21em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PNJ_Absorcion_Total input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PNJ_Daño {
  background-color: transparent;
  position: absolute;
  top: 5.7em;
  left: 3.3em;
  text-align: center;
  z-index: 6;
  width: 4em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PNJ_Daño input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PNJ_PV_Actuales {
  background-color: transparent;
  position: absolute;
  top: 5.7em;
  left: 16.5em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PNJ_PV_Actuales input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PNJ_PV_Totales {
  background-color: transparent;
  position: absolute;
  top: 5.7em;
  left: 21em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.PNJ_PV_Totales input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.PNJ_contenedor_biografia {
  position:absolute;
  left: -1.2em;
  top: 10em;
  height: 8em;
  width: 32.6em;
  overflow-y: scroll;
  border: none;
  border-width: 0;
}

.label_PNJ_Ataque {
  background-color: transparent;
  position: absolute;
  top: 1.5em;
  left: 4.3em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}

.label_PNJ_Daño {
  background-color: transparent;
  position: absolute;
  top: 5em;
  left: 0em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}

.label_PNJ_PV {
  background-color: transparent;
  position: absolute;
  top: 5em;
  left: 7em;
  text-align: center;
  z-index: 6;
  width: 6em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.5em;
}
