.chat_tirada_atributo_label2_3d10 {
  background-color: transparent;
  position: relative;
  text-align: center;
  top: -9.5em;
  z-index: 6;
  width: 15em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 1.3em;
}
.chat_tirada_atributo_menor_3d10 {
  background-color: transparent;
  position: relative;
  top: -11.5em;
  left: 1em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 2.3em;
}
.chat_tirada_atributo_medio_3d10 {
  background-color: transparent;
  position: relative;
  top: -12.5em;
  left: 3.3em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 2.3em;
}
.chat_tirada_atributo_mayor_3d10 {
  background-color: transparent;
  position: relative;
  top: -13.6em;
  left: 5.6em;
  text-align: center;
  z-index: 6;
  width: 2em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 2.3em;
}

.chat_tirada_resultado_3d10 {
  background-color: transparent;
  position: relative;
  top: -14.4em;
  text-align: center;
  z-index: 6;
  width: 10em;
  font-family: "Bangers";
  color: Black !important;
  font-size: 2em;
}

.chat_tirada_atributo_imagen_dados_3d10 {
  top: -17em;
  left: 2em;
  position: relative;
  width: 16em;
  height: 16em;
  text-align: center;
  z-index: 0;
}

.chat_tirada_atributo_imagen_dados_3d10 img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}
