.Objeto-nombre {
  position: absolute;
  top: 3.2em;
  text-align: center;
  z-index: 6;
  left: 2em;
  width: 18em;
  font-family: "Airstrip";
}

.Objeto-nombre input[type='text'] {
  background-color: transparent;
  font-family: inherit;
  width: 15.5em;
  font-size: 1.2em;
  text-align: center;
  color: Black !important;
  border: none;
}

.Objeto-foto {
  top: 5.5em;
  left: 1.9em;
  position: absolute;
  width: 6em;
  height: 6em;
  text-align: center;
  z-index: 0;
}

.Objeto-foto img {
  vertical-align: middle;
  max-height: 100%;
  z-index: -1;
}

.Objeto-Precio {
  background-color: transparent;
  position: absolute;
  top: 4.8em;
  text-align: center;
  z-index: 6;
  left: 12.9em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.Objeto-Precio input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.Objeto-Cantidad {
  background-color: transparent;
  position: absolute;
  top: 7.1em;
  text-align: center;
  z-index: 6;
  left: 12.9em;
  width: 3em;
  font-family: "Airstrip";
  color: Black !important;
  font-size: 1.3em;
}
.Objeto-Cantidad input{
  text-align: center;
  color: Black !important;
  background-color: transparent;
  border: none;
}

.Objeto-descripcion-container {
  flex: auto;
  left: 2em;
  top: 14em;
  height: 15em;
  width: 100%;
  margin-bottom: -3em;
  overflow-x: hidden;
}
