<form class="{{cssClass}}" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/ficha/escudo-Bg.svg" alt="?"/>
  <div class="escudo-container">
    <div class="Escudo-nombre"><input name="name" type="text" value="{{name}}" placeholder='Nombre'
                                       onClick="this.select();"/></div>
    <div class="Escudo-foto">
      <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
    </div>
    <div class="Escudo-precio">
      <input type="text" name="system.Precio" value="{{system.Precio}}" data-dtype="Number" maxlength="4"/>
    </div>
    <div class="Escudo-estorbo">
      <input type="text" name="system.Estorbo" value="{{system.Estorbo}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Escudo-defensa-CC">
      <input type="text" name="system.Defensa.CC" value="{{system.Defensa.CC}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Escudo-defensa-Dist">
      <input type="text" name="system.Defensa.Distancia" value="{{system.Defensa.Distancia}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Escudo-descripcion-container">
      {{{editor system.Descripcion target="system.Descripcion" button=true owner=owner editable=true}}}
    </div>
  </div>
</form>
