<form class="{{cssClass}}" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/ficha/habilidad-Bg.svg" alt="?"/>
  <div class="habilidad-container">
    <div class="Habilidad-nombre"><input name="name" type="text" value="{{name}}" placeholder='Nombre'
                                       onClick="this.select();"/></div>
    <div class="Habilidad-foto">
      <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
    </div>
    <div class="Habilidad-Atributo">
    <select name="system.Atributo" data-dtype="String">
      {{#select system.Atributo}}
      <option value="Físico">Fis</option>
      <option value="Destreza">Des</option>
      <option value="Inteligencia">Int</option>
      <option value="Percepción">Per</option>
      {{/select}}
    </select>
    </div>
    <div class="Habilidad-Nivel">
      <input type="text" name="system.Nivel" value="{{system.Nivel}}" data-dtype="Number" maxlength="3"/>
    </div>
    <div class="Habilidad-descripcion-container">
      {{{editor system.Descripcion target="system.Descripcion" button=true owner=owner editable=true}}}
    </div>
  </div>
</form>
