<form class="{{cssClass}}" autocomplete="off">
  <div class="flexcol">
    <div><input name="system.nombre" type="text" value="{{system.nombre}}" placeholder='Nombre' data-dtype="String"/></div>
    <div class="flexrow">
      <div class="flexcol">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{system.nombre}}" alt='Imagen del Personaje'/>
      </div>
      <div>
        <div class="flexrow">
        <label>Atributo</label>
        <select name="system.atributo" data-dtype="String">
          {{#select system.atributo}}
          <option value="F">Fisico</option>
          <option value="D">Destreza</option>
          <option value="I">Inteligencia</option>
          <option value="P">Percepcion</option>
          <option value="C">Carisma</option>
          {{/select}}
        </select>
        </div>
        <div class="flexrow">
        <label>Nivel</label>
        <input type="text" name="system.nivel" value="{{system.nivel}}" data-dtype="Number" maxlength="3"/>
      </div></div>
    </div>
    <div class="Habilidad-descripcion-container">
      <label>Descripción</label>
      {{{editor system.descripcion target="system.descripcion" button=true editable=true}}}
    </div>
  </div>
</form>
