<form class="{{cssClass}}" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/ficha/hechizo-Bg.svg" alt="?"/>
  <div class="hechizo-container">
    <div class="Hechizo-nombre"><input name="name" type="text" value="{{name}}" placeholder='Nombre'
                                       onClick="this.select();"/></div>
    <div class="Hechizo-foto">
      <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
    </div>
    <div class="Hechizo-Dificultad">
      <input type="text" name="system.Dificultad" value="{{system.Dificultad}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Hechizo-Alcance">
    <select name="system.Alcance" data-dtype="String">
      {{#select system.Alcance}}
      <option value="Toque">Toque</option>
      <option value="Personal">Pers</option>
      <option value="Distancia">Dist</option>
      {{/select}}
    </select>
    </div>
    <div class="Hechizo-Mana">
      <input type="text" name="system.Mana" value="{{system.Mana}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Hechizo-Nivel">
      <input type="text" name="system.Nivel" value="{{system.Nivel}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Hechizo-descripcion-container">
      {{{editor system.Descripcion target="system.Descripcion" button=true owner=owner editable=true}}}
    </div>
  </div>
</form>
