<form class="{{cssClass}}" autocomplete="off">
  <img class="content-background" src="/systems/RyF/assets/ficha/hechizo-Bg.svg" alt="?"/>
  <div class="hechizo-container">
    <div class="Hechizo-nombre"><input name="name" type="text" value="{{data.name}}" placeholder='Nombre'
                                       onClick="this.select();"/></div>
    <div class="Hechizo-foto">
      <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
    </div>
    <div class="Hechizo-Dificultad">
      <input type="text" name="data.Dificultad" value="{{data.data.Dificultad}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Hechizo-Alcance">
    <select name="data.Alcance" data-dtype="String">
      {{#select data.data.Alcance}}
      <option value="Toque">Toque</option>
      <option value="Personal">Pers</option>
      <option value="Distancia">Dist</option>
      {{/select}}
    </select>
    </div>
    <div class="Hechizo-Mana">
      <input type="text" name="data.Mana" value="{{data.data.Mana}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Hechizo-Nivel">
      <input type="text" name="data.Nivel" value="{{data.data.Nivel}}" data-dtype="Number" maxlength="2"/>
    </div>
    <div class="Hechizo-descripcion-container">
      {{{editor content=data.data.Descripción target="data.Descripción" button=true owner=owner editable=editable}}}
    </div>
  </div>
</form>
