<form class="{{cssClass}}" autocomplete="off">
    <div class="flexcol">
    <div class="flexrow">
      <input name="name" type="text" value="{{name}}" placeholder='Nombre' onClick="this.select();"/>
    </div>
    <div class = "flexrow">
      <div class="flexcol">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Objeto'/>
      </div>
      <div class="flexcol">
        <div>
          <label>Precio</label>
          <input type="text" name="system.precio" value="{{system.precio}}" data-dtype="Number" maxlength="4"/>
        </div>
        <div>
          <label>Cantidad</label>
          <input type="text" name="system.cantidad" value="{{system.cantidad}}" data-dtype="Number" maxlength="3"/>
        </div>
      </div>
      <div class="flexcol">
        <label>Descripcion</label>
        <div class="Objeto-descripcion-container">
          {{{editor system.descripcion target="system.descripcion" button=true owner=owner editable=true}}}
        </div>
      </div>
    </div>
  </div>
</form>
