<form class="{{cssClass}}" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/ficha/objeto-Bg.svg" alt="?"/>
  <div class="objeto-container">
    <div class="Objeto-nombre"><input name="name" type="text" value="{{name}}" placeholder='Nombre'
                                       onClick="this.select();"/></div>
    <div class="Objeto-foto">
      <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
    </div>
    <div class="Objeto-Precio">
      <input type="text" name="system.Precio" value="{{system.Precio}}" data-dtype="Number" maxlength="4"/>
    </div>
    <div class="Objeto-Cantidad">
      <input type="text" name="system.Cantidad" value="{{system.Cantidad}}" data-dtype="Number" maxlength="3"/>
    </div>
    <div class="Objeto-descripcion-container">
      {{{editor system.Descripcion target="system.Descripcion" button=true owner=owner editable=true}}}
    </div>
  </div>
</form>
