<form class="{{cssClass}}" autocomplete="off">
  <img class="content-background" src="/systems/ryf/assets/ficha/talento-Bg.svg" alt="?"/>
  <div class="talento-container">
    <div class="Talento-nombre"><input name="name" type="text" value="{{name}}" placeholder='Nombre'
                                       onClick="this.select();"/></div>
    <div class="Talento-foto">
      <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/>
    </div>
    <div class="Talento-Requisito">
      <input type="text" name="system.Requisito" value="{{system.Requisito}}"/>
    </div>
    <div class="Talento-descripcion-container">
      {{{editor system.Descripcion target="system.Descripcion" button=true owner=owner editable=true}}}
    </div>
  </div>
</form>
