<form class="{{cssClass}}" autocomplete="off">
  <div class="Jugador_contenedor_talentos">
    <table class="Jugador_Talentos_Tabla">
      <tr>
        <th style="width:10%"></th>
        <th style="width:40%; align:center" class="Jugador_Talentos_Tabla_Títulos"><label>TALENTO</label></th>
        <th class="align_right width:10%"><a class="item-control item-create" data-type="Talento"><i class="fas fa-plus"></i></a></th>
      </tr>
      {{#each Talentos as |item id|}}
        <tr class="item" data-item-id="{{item._id}}">
          <td class="Jugador_Talentos_Imagen"><img src="{{item.img}}" width="24" height="24"/></td>
          <td class="Jugador_Talentos_Tabla_Nombre"><div style="width:20em"><label class="Jugador_Talentos_Tabla_Texto">{{item.name}}</label></div></td>
          <td>
            <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
            <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
          </td>
        </tr>
      {{/each}}
    </table>
    <table class="Jugador_Talentos_Tabla">
      <tr>
        <th style="width:10%"></th>
        <th style="width:40%; align:center"  class="Jugador_Talentos_Tabla_Títulos"><label>HECHIZO</label></th>
        <th style="width:20%; align:center"  class="Jugador_Talentos_Tabla_Títulos"><label>ALCANCE</label></th>
        <th style="width:10%; align:center"  class="Jugador_Talentos_Tabla_Títulos"><label>DIF</label></th>
        <th style="width:10%; align:center"  class="Jugador_Talentos_Tabla_Títulos"><label>MANA</label></th>
        <th class="align_right width:10%"><a class="item-control item-create" data-type="Hechizo"><i class="fas fa-plus"></i></a></th>
      </tr>
      {{#each Hechizos as |item id|}}
        <tr class="item" data-item-id="{{item._id}}">
          <td class="Jugador_Talentos_Imagen"><img src="{{item.img}}" width="24" height="24"/></td>
          <td class="Jugador_Talentos_Tabla_Nombre tiradaHechizo"
          data-hechizo="{{item.name}}" data-nivel="{{item.system.Nivel}}" data-dificultad="{{item.system.Dificultad}}" data-mana="{{item.system.Mana}}" data-alcance="{{item.system.Alcance}}"
          ><div style="width:7em"><label class="Jugador_Talentos_Tabla_Texto">({{item.system.Nivel}}) {{item.name}}</label></div></td>
          <td style="text-align:center" class="Jugador_Talentos_Tabla_Nombre Jugador_Habilidades_Tabla_Otros"><label class="Jugador_Talentos_Tabla_Texto">{{item.system.Alcance}}</label></td>
          <td style="text-align:center" class="Jugador_Talentos_Tabla_Nombre Jugador_Habilidades_Tabla_Otros"><label class="Jugador_Talentos_Tabla_Texto">{{item.system.Dificultad}}</label></td>
          <td style="text-align:center" class="Jugador_Talentos_Tabla_Nombre Jugador_Habilidades_Tabla_Otros"><label class="Jugador_Talentos_Tabla_Texto">{{item.system.Mana}}</label></td>
          <td>
            <a class="item-control item-edit"><i class="fas fa-edit"><span class="tooltiptext"></span></i></a>
            <a class="item-control item-delete"><i class="fas fa-trash"><span class="tooltiptext"></span></i></a>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>

</form>
